body{
    background-color:rgba(180, 226, 241, 0.795);
    


}
.cont{
    
   display: grid;
   grid-auto-rows: minmax(20px,auto);
   
   grid-template-columns: repeat(8,1fr);
    grid-template-areas:
    "name name name name name  name name name "
    "tech tech tech tech tech tech tech tech "
    " par par par par par par par par "
    "grid grid grid grid grid grid grid grid  "
    "grid grid grid grid grid grid grid grid "
    "grid grid grid grid  grid grid grid grid  "
    ;
    grid-gap: 20px;
}

.grid{
 display: grid;
 grid-auto-rows: minmax(20px,auto);
 grid-template-columns: repeat(6,1fr);
    grid-gap: 30px;
    grid-template-areas:
    " four four img img three three  "
    " four four  img img  three three "
    " two two  two two  two two "
    ;
}
.grid{
    grid-area: grid;
   

}
.name{
    grid-area: name;
}

.tech{
    grid-area: tech;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    text-shadow:-1px 0px 20px rgba(37, 34, 33, 0.692)
}

.par{
    grid-area: par;
    font-size:x-large;
    word-wrap: wrap;
   text-align: center;
   color: grey;
}

.img{
    grid-area: img;
    
   
}

.img img{
   outline: none;
   width: 100%;
   height: 419px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: gray 9px 11px 14px 0px;    
}

.two{
    word-break: break-all; 
    grid-area: two;
    padding: 30px;
    background-color:bisque;
    border-top: 4px solid  rgb(112, 223, 140);
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
    box-shadow: rgb(112, 223, 140) 9px 11px 14px 0px;
    grid-column: 3/5;
}

.about{
 font-family:  cursive ;
 
}


.three{
   /* overflow-wrap: break-word;*/
   word-break: break-all; 
    grid-area: three;
    background-color:bisque;
	padding: 30px;
	border-top: 4px solid sandybrown;
	border-radius:10px ;
	-webkit-border-radius:10px ;
	-moz-border-radius:10px ;
	-ms-border-radius:10px ;
	-o-border-radius:10px ;
	min-width: 20%;
	box-shadow: sandybrown 9px 11px 14px 0px;
}

.four{
    word-break: break-all; 
    grid-area: four;
    box-shadow: 22%;
        background-color:bisque;
        padding: 30px;
        border-top: 4px solid royalblue;
        border-radius:10px ;
        -webkit-border-radius:10px ;
        -moz-border-radius:10px ;
        -ms-border-radius:10px ;
        -o-border-radius:10px ;
        
        box-shadow: royalblue 9px 11px 14px 0px;
    
   
}


.o, 
.t,
.th,
.f,
.prs,
.prs2{
    color: grey;
  text-transform: capitalize;
  line-height: 30px;
  font-style: normal;
}


.ul1,
.ul2{
    list-style-type: none;
}
.col{
    color: sandybrown;
}

.hl:hover,
.cs:hover,
.ad:hover{
    color: rgb(112, 223, 140);
}

.four:hover,
.three:hover,
.two:hover {
 transform: scale(1.1);
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -ms-transform: scale(1.1);
 -o-transform: scale(1.1);
 transition: all ease-in-out .1s;
 transition-duration: 1s;
}
.fb:hover,
.gb:hover,
.fbb:hover,
.gbb:hover{
color: sandybrown;
}

.ul3{
color: sandybrown;

}

ul{
    padding: 0;
}
@media  (max-width:400px) {
    .img img{
        height: 100%;
        
    }   
}

@media  (max-width:720px) {
    .grid{
        display: grid;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
        "img img img img . . . ."
        "four four four four four four four four"
        "three three three three three three three three"
        "two two two two two two two two"
        
        
        ;
        grid-gap: 30px;
        
    }
    .two{
        grid-column: 1/9;
        height: fit-content;
    }
    .img img{
       
        
        margin:0 40%;
    }   
    .three{
        top:0
    }
}